
<div class="side-nav-content">
    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="#">
                January 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                February 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                March 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                April 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                May 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                June 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                July 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                August 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                Saptember 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                October 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                November 2023
            </a>
        </li>
        <li class="nav-list-item">
            <a href="#">
                December 2023
            </a>
        </li>






    </ul>

</div>
