<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <div class="container-fluid">
        <div class="side-nav-button p-1 text-light" (click)="toggleSlideNav()">
            <i class='bx bx-menu'></i>
        </div>
        <!-- <img src="assets/h.jpg" alt="Image not Found" height="2%" width="2%"> -->
        <a  class="navbar-brand px-4" href="#">Expense Manager</a>

        <div class="navbar-collapse">
            <div class="spacer"></div>

            <form action="" class="d-flex">
                <input type="search" class="form-control m-1" placeholder="Search">
                <button class="btn btn-outline-light m-1" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>